body {
    background-color: rgb(25, 25, 25);
    color: rgb(240, 240, 240);
    font-family: "Inter", sans-serif;

    padding-top: 1em;
    padding-bottom:1em;
    padding-right: 4em;
    padding-left: 4em;
}

p.title {
    font-size: 2.1875em;
}

p.description {
    color: rgb(104, 104, 104);
    font-size: 1em;
}

p.heading {
	font-size: 1.5em
}

p {
    font-size: 1em;
}

a {
	color: rgb(240, 240, 240);
    font-size: 1em;
}

button, input.button {
    font-family: "Inter", sans-serif;
    font-size: 1em;
    outline: none;
    border: none;
    border-radius: 0.35em;

    padding-top: 0.5em;
    padding-bottom:0.5em;
    padding-right: 0.75em;
    padding-left: 0.75em;
    
    cursor: pointer;
}

button.light, input.button.light { 
    color: rgb(25, 25, 25);
    background-color: rgb(240, 240, 240);
}

button.dark, input.button.dark {
    color: rgb(240, 240, 240);
    background-color: rgb(47, 47, 47);
}

.bold {
	font-weight: bold;
}

.light {
    font-weight: lighter;
}

.regular {
    font-weight: normal;
}

.black {
    font-weight: bolder;
}

.auto-select {
	user-select: auto;
}

.no-select {
	user-select: none;
}

.no-cursor {
    cursor: none;
}

.no-decor {
	text-decoration: none;
}

.italic {
    font-style: italic;
}

.pointer {
    cursor: pointer;
}

.text {
	cursor: text;
}

img {
    outline: none;
    border: none;
    border-radius: 0.35em;

    cursor: default;
}

textarea {
    border: none;
    outline: none;
    border-radius: 0.35em;

    padding-top: 0.5em;
    padding-bottom:0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;

    cursor: text;
}

textarea.dark {
    color: rgb(240, 240, 240);
    background-color: rgb(47, 47, 47);
}

textarea.light {
    color: rgb(25, 25, 25);
    background-color: rgb(240, 240, 240);
}
