body {
    background-color: rgb(25, 25, 25);
    color: rgb(240, 240, 240);
    font-family: "Inter", sans-serif;

    padding-top: 2em;
    padding-bottom:2em;
    padding-right: 4em;
    padding-left: 4em;
}

body.dark {
    background-color: rgb(25, 25, 25);
    color: rgb(240, 240, 240);
}

body.light {
    background-color: rgb(240,240,240);
    color: rgb(25, 25, 25);
}

p.title, label.title {
    font-size: 2.1875em;
}

p.description, label.description {
    color: rgb(104, 104, 104);
    font-size: 1em;
}

p.heading, label.heading {
font-size: 1.5em
}

p, label {
    font-size: 1em;
}

a {
	color: rgb(240, 240, 240);
    font-size: 1em;
}

br {
    user-select: none;
}

button, input.button {
    font-family: "Inter", sans-serif;
    font-size: 1em;
    outline: none;
    border: none;
    border-radius: 0.35em;

    padding-top: 0.5em;
    padding-bottom:0.5em;
    padding-right: 0.75em;
    padding-left: 0.75em;
    
    cursor: pointer;
}

button.light, input.button.light, div.light, textarea.light { 
    color: rgb(25, 25, 25);
    background-color: rgb(222, 222, 222);
}

button.dark, input.button.dark, div.dark, textarea.dark {
    color: rgb(240, 240, 240);
    background-color: rgb(47, 47, 47);
}

.border.dark {
    border-color: rgb(240, 240, 240);
}

.border.light {
    border-color: rgb(47, 47, 47);
}

.bold {
	font-weight: bold;
}

.light {
    font-weight: lighter;
}

.regular {
    font-weight: normal;
}

.black {
    font-weight: bolder;
}

.auto-select {
	user-select: auto;
}

.no-select {
	user-select: none;
}

.no-cursor {
    cursor: none;
}

.no-decor {
	text-decoration: none;
}

.italic {
    font-style: italic;
}

.pointer {
    cursor: pointer;
}

.text {
	cursor: text;
}

.border {
    border-style: solid;
    border-radius: 0.35em;
}

img {
    outline: none;
    border: none;
    border-radius: 0.35em;

    cursor: default;
}

textarea {
    border: none;
    outline: none;
    border-radius: 0.35em;

    padding-top: 0.5em;
    padding-bottom:0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;

    cursor: text;
}

div {
    border: none;
    outline: none;
    border-radius: 0.35em;

    padding-top: 0.25em;
    padding-bottom:0.25em;
    padding-right: 1.25em;
    padding-left: 1.25em;
}
